@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> - LoginKeys</h2>
</hgroup>

<article>
    <p>
        This namespace is developed to enable you to have a login system developed right on JSON file and C# classes. You don't need to be having a Database support to enable the Users and Login System. You can do that right on the Files now.
    </p>
    <p>
        This sample explains most of the part of the project and you can use it for testing purposes. You can get the .dll file from the binary folder and use it in your own projects if required.
    </p>
    <p>
        If any bugs are found, be patient this is the beta release (as per 8th Sep, 2014) and you can submit them to me for me to work on it.
    </p>
    <h4>LICENSE</h4>
    <p style="border: 1px dashed #cecece; padding: 10px;">
        The MIT License (MIT)<br /><br />

        Copyright (c) 2014 Afzaal Ahmad Zeeshan<br /><br />

                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:<br /><br />

                The above copyright notice and this permission notice shall be included in
                all copies or substantial portions of the Software.<br /><br />

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                THE SOFTWARE.
    </p>
</article>

<aside>
    <h3>Navigation</h3>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>