@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2> Me</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span><a href="mailto:justin17862@gmail.com">justin17862@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Facebook:</h3>
    </header>
    <p><a href="http://www.facebook.com/afzaal.ahmad.zeeshan">Afzaal Ahmad Zeeshan</a></p>
    <header>
        <h3>Google+:</h3>
    </header>
    <p><a href="http://plus.google.com/+AfzaalAhmadZeeshan">Afzaal Ahmad Zeeshan</a></p>
    <header>
        <h3>GitHub:</h3>
    </header>
    <p><a href="http://github.com/afzaal-ahmad-zeeshan">Afzaal Ahmad Zeeshan</a></p>
    <header>
        <h3>LinkedIn:</h3>
    </header>
    <p><a href="http://pk.linkedin.com/in/afzaalahmadzeeshan/">Afzaal Ahmad Zeeshan</a></p>
    <p>You can always contact me on CodeProject where you downloaded this source code from by commenting on the Article.</p>
</section>