@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

    string usingStatement = "@using LoginKeys;";
}

<div>
    <h4>LoginKeys</h4>
    <p>You can use LoginKeys System to create Users and their accounts.</p>
    <p>Use <pre style="display: inline;">@usingStatement</pre> after including the project library in your binary folder (/bin/). It will let you perform basic functions about the user account.</p>
</div>

<div>
    <p>Basic functions of the project have been added to this sample website. Try them out, be patient this is just the beta version of the project. There would be bugs, please send them to me so I can fix them out and release a stable version of the project.</p>
</div>